:root {
    --mainBlue: #407ffa;
    --transparentblue: rgba(64, 172, 241, 0.7);
    --mainwhite: #ffffff;
    --mainblack: #292f36;
    --mainGrey: #c0c0c0;
    --mainGreen: #3fffc0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.container {
    width: 576px;
    margin: 0 auto;
}

/*
****************
    header
****************    
*/
.header {
    margin: 1rem auto;
    text-align: center;
}

.header-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

button {
    font-size: 0.9rem;
}

/*
****************
    student
****************    
*/
.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.student-field {
    width: 20rem;
    display: inline-block;
    text-align: right;
}

.student-data {
    font-size: 0.7rem;
    color: blue;
    margin-right: 10px;
    text-align: right;
}

.section-seperator {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: burlywood;
    height: 0.5rem;
    border-radius: 20px;
}

.update {
    width: 5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.25rem;
    color: var(--mainBlue);
    background-color: var(--mainGreen);
    font-size: 0.8rem;
    border-radius: 50px;
    text-align: center;
    outline: none;
    border: none;
}

.update:hover {
    background-color: var(--mainGrey);
    cursor: pointer;
}

.logout {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.btn-logout {
    width: 4rem;
    padding: 0.1rem;
    font-size: 0.8rem;
    border-radius: 50px;
    border: 1px solid rgb(37, 67, 240);
    outline: none;
    color: white;
    background-color: rgb(37, 67, 240);
    cursor: pointer;
}
.btn-logout:hover {
    border-radius: 50px;
    outline: none;
    color: rgb(37, 67, 240);
    background-color: white;
    cursor: pointer;
}

/**********************************
    Section Student Update Start
***********************************/
.section_student__update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.section_student__details {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}
label {
    display: inline-block;
    width: 5rem;
    text-align: right;
}
input {
    display: inline-block;
    width: 20rem;
    color: blue;
    padding: 0.375rem 0.75rem;
    border-radius: 0.35rem;
    border: 1px solid #ced4da;
    outline: none;
}

input:focus {
    border: 2px solid var(--mainGrey);
}

.update-button {
    width: 4rem;
    padding: 0.1rem;
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid green;
    border-radius: 20px;
    color: white;
    background-color: green;
    cursor: pointer;
}
.update-button:hover {
    color: green;
    background-color: white;
}

.cancel-button {
    margin-top: 1rem;
    width: 4rem;
    padding: 0.1rem;
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid red;
    border-radius: 20px;
    color: white;
    background-color: red;
    cursor: pointer;
}
.cancel-button:hover {
    color: red;
    background-color: white;
}
.hide {
    display: none;
}

/*
********************************
    Courses Table
********************************
*/

.course-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid green;
}

thead,
tbody {
    /* text-align: center; */
}

th {
    font-size: 0.7rem;
    border: 2px solid green;
    text-align: center;
}

tr {
    height: 2rem;
    border: 2px solid green;
    text-align: center;
}

td {
    font-size: 0.7rem;
}

.table-course-number {
    width: 12%;
}

.table-course-grade {
    width: 8%;
}
.table-date {
    width: 15%;
}

.table-register {
    width: 12%;
}

.registration {
    width: 60%;
    padding: 0.1rem;
    margin: 0 auto;
    font-size: 0.65rem;
    text-align: center;
    cursor: pointer;
}

.register {
    border: 1px solid green;
    border-radius: 20px;
    color: white;
    background-color: green;
}

.register:hover {
    color: green;
    background-color: white;
}
.register-cancel {
    border: 1px solid red;
    border-radius: 20px;
    color: white;
    background-color: red;
}
.register-cancel:hover {
    color: red;
    background-color: white;
}

@media screen and (min-width: 576px) {
    .container {
        width: 576px;
    }

    .header-title {
        font-size: 2.2rem;
    }

    /*****************
        student
    ******************/
    .student {
        font-size: 0.8rem;
    }

    .student-data {
        font-size: 0.7rem;
        color: blue;
        margin-right: 10px;
        text-align: right;
    }

    .update {
        width: 7rem;
        margin-right: 0.5rem;
        padding: 0.25rem;
        color: var(--mainBlue);
        background-color: var(--mainGreen);
        font-size: 0.7rem;
        border-radius: 50px;
        text-align: center;
        outline: none;
        border: none;
    }

    /*********************************
            Courses Table
    *********************************/

    thead,
    tbody {
        text-align: right;
    }

    th {
        font-size: 0.7rem;
        border: 2px solid green;
    }

    tr {
        border: 2px solid green;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header-title {
        font-size: 2.8rem;
    }

    /*****************
        student
    ******************/
    .student {
        font-size: 0.9rem;
    }

    .student-data {
        font-size: 0.8rem;
        color: blue;
        margin-right: 10px;
        text-align: right;
    }

    .update {
        width: 7rem;
        margin-right: 0.5rem;
        padding: 0.25rem;
        color: var(--mainBlue);
        background-color: var(--mainGreen);
        font-size: 0.7rem;
        border-radius: 50px;
        text-align: center;
        outline: none;
        border: none;
    }

    /********************************
        Courses Table
    *********************************/

    thead,
    tbody {
        text-align: right;
    }

    th {
        font-size: 1rem;
        border: 2px solid green;
    }

    tr {
        border: 2px solid green;
    }
    td {
        font-size: 0.85rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 992px;
    }

    .header-title {
        font-size: 3.4rem;
    }

    /*****************
        student
    ******************/
    .student {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .student-field {
        width: 20rem;
        display: inline-block;
        text-align: right;
    }

    .student-data {
        font-size: 0.9rem;
        color: blue;
        margin-right: 10px;
        text-align: right;
    }

    .update {
        width: 7rem;
        margin-right: 0.5rem;
        padding: 0.25rem;
        color: var(--mainBlue);
        background-color: var(--mainGreen);
        font-size: 0.7rem;
        border-radius: 50px;
        text-align: center;
        outline: none;
        border: none;
    }

    .logout {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .hide {
        display: none;
    }
    /********************************
        Courses Table
    *********************************/

    thead,
    tbody {
        text-align: right;
    }

    th {
        font-size: 1.1rem;
        border: 2px solid green;
    }

    tr {
        border: 2px solid green;
    }

    td {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1140px) {
    .container {
        width: 1140px;
    }

    .header-title {
        font-size: 4rem;
    }

    /*****************
        student
    ******************/
    .student {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .student-field {
        width: 20rem;
        display: inline-block;
        text-align: right;
    }

    .student-data {
        font-size: 0.9rem;
        color: blue;
        margin-right: 10px;
        text-align: right;
    }

    .update {
        width: 7rem;
        margin-right: 0.5rem;
        padding: 0.25rem;
        color: var(--mainBlue);
        background-color: var(--mainGreen);
        font-size: 0.7rem;
        border-radius: 50px;
        text-align: center;
        outline: none;
        border: none;
    }

    .hide {
        display: none;
    }
    /********************************
        Courses Table
    *********************************/

    thead,
    tbody {
        text-align: right;
    }

    th {
        font-size: 1.1rem;
        border: 2px solid green;
    }

    tr {
        border: 2px solid green;
    }
}
