:root {
    --mainBlue: #407ffa;
    --transparentblue: rgba(64,  172,  241,  0.7);
    --mainwhite: #ffffff;
    --mainblack: #292f36;
    --mainGrey: #c0c0c0;
    --mainGreen: #3fffc0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.container {
    width: 1140px;
    margin: 0 auto;
    /* font-family: 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
}

/*
****************
    header
****************    
*/
.header {
    margin: 1rem;
    text-align: center;
}

.header-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 4rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

button {
    font-size: 0.9rem;
}

/*
****************
    student
****************    
*/
.student {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: baseline;
}

.student-data {
    font-size: 0.9rem;
    color: blue;
    margin-right: 10px;
}

.section-seperator {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: burlywood;
    height: 0.5rem;
    border-radius: 20px;
}

.btn-modify {
    width: 5rem;
    margin-right: 0.5rem;
    color: var(--mainBlue);
    background-color: var(--mainGreen);
    font-size: 0.8rem;
    border-radius: 50px;
    outline: none;
    border: none;
}

.btn-modify:hover {
    background-color: var(--mainGrey);
    cursor: pointer;
}
.btn-logout {
    width: 4rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 50px;
    border-color: rgb(37, 67, 240);
    border-width: 1px;
    outline: none;
    color: rgb(37, 67, 240);
    background-color: white;
    cursor: pointer;
}
.btn-logout:hover {
    width: 4rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 50px;
    outline: none;
    background-color: rgb(37, 67, 240);
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

#email-input,
#password-input {
    margin-right: 0.5rem;
    color: blue;
    text-align: center;
}

/*
********************************
    Courses Table
********************************
*/

.course-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid green;
}

thead,
tbody {
    text-align: right;
}

th {
    font-size: 1.1rem;
    border: 2px solid green;
}

tr {
    /* font-size: 1.1rem; */
    border: 2px solid green;
}

.table-date-width {
    width: 15%;
}
